<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="https://ca.linkedin.com/in/lucas-wu-65597065">LinkedIn</a></li>
<li><a href="https://github.com/lucaswu17">GitHub</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

<hr>

  <footer>
   <ul>
   <li>Contact </li>
   </ul>
  </footer>
  </body>

</html>
